.navbar{
    position:absolute;
    z-index: 4;;
    font-size: x-large;
    padding: 100px;}

.navbar-brand{
    color: #ffffff;}

a.nav-link{color:rgb(131, 131, 129);}

a.nav-link.active{ color:rgb(30, 167, 103);}

 /* Color al pasar el mouse*/
a.nav-link:hover {color:#ffffff} 