

.parrafo_2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -3px;
    font-size: 18px;
}

.titulo_2 {
    text-align: center;
    padding-top: -100px;
}

.parrafo_3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.row {
    display: flex;
    justify-content: center;
}

.mb-3 {
    padding-top: 15px;
    
 
}

.text-form {
    display: flex;
    justify-content: center;
}

.d-grid {
    display: flex;
    justify-content: center;
}

/*Botón enviar*/
.btn-form {
    background-color: rgba(91, 182, 7, 0.808);
    border-radius: 5px;
    border: 1px solid #eaf2f5;
    color: white;
    padding: 10px;
    padding-left:47vh;
    padding-right: 47vh;
}